html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

.container-xl {
    max-width: 1541px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.container-l {
    max-width: 1362px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.distance {
    margin: 80px auto;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 16px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 12px;
    }

    .distance {
        margin: 60px auto;
    }
}


:root {
    --font-bold: 900;
    --font-medium: 700;
    --font-small: 400;
    --font-button: 800;
    --color-black: #000;
    --color-dark-gray: #303030;
    --color-light-gray: #8C8F96;
    --color-hover-btn: #00BDFF;
    --color-blue: #49D0FF;
    --color-whith: #ffff;
}

/*start header*/
.header {
    min-height: 100px;
    background-color: var(--color-black);
}

.header .header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 32px;
}

.header .header__inner .header__menu {
    display: flex;
    color: var(--color-whith);
    column-gap: 48px;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
}

.header .header__inner .header__menu .menu__item {
    position: relative;
    padding-right: 20px;
}

.menu__item--has-dropdown::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 30%;
    transform: translateY(-50%) rotate(45deg);
    border: solid var(--color-dark-gray);
    border-width: 0 2px 2px 0;
    padding: 4px;
    pointer-events: none;
}

.menu__item-link {
    text-decoration: none;
}

.header .header_info {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.header .header_info .header-icons {
    display: flex;
    column-gap: 32px;
}

.header .header_info .header-blue {
    min-height: 18px;
    min-width: 18px;
    max-width: 18px;
    max-height: 18px;
    background-color: var(--color-blue);
    border-radius: 50%;
    color: var(--color-whith);
    font-weight: var(--font-medium);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header_info span {
    font-weight: var(--font-medium);
    font-size: 13px;
    color: var(--color-light-gray);
}

@media (max-width: 1400px) {
    .header .header__inner .header__menu {
        display: none;
    }

    .header .header__inner {
        justify-content: flex-start;
        column-gap: 20px;
    }
}

@media (max-width: 768px) {
    .header .header_info span {
        display: none;
    }

    .header .header_info .header-icons {
        column-gap: 22px;
    }
}

/*end header*/
/*start main section one*/

/*.main .one{*/
/*    min-height: 760px;*/
/*}*/
.one__logo {
    /*height: 631px;*/
    width: min(100%, 1541px);
    margin-top: 50px;
    margin-bottom: 80px;
    position: relative;
}

.one__images {
    object-fit: cover;
    /*background-repeat: no-repeat;*/
    /*transform: scaleX(-1);*/
    object-position: top;
    width: 100%;
    /*width: min(100%, 1541px);*/
    height: clamp(340px, 35vw, 631px);
    display: block;
    border-radius: 7px;
}

.one__welcome {
    position: absolute;
    top: 15%;
    left: 8%;
    display: flex;
    flex-direction: column;
    row-gap: clamp(7px, 1vw, 19px);
    max-width: 571px;
}

.title {
    font-weight: var(--font-bold);
}

.one__title {
    font-size: clamp(1.1rem, 3vw, 3.1rem);
    color: var(--color-black);
    line-height: clamp(1.5rem, 4vw, 3.9rem);
}

.text {
    font-weight: var(--font-small);
    color: var(--color-black);
}

.one__text {
    font-size: clamp(0.75rem, 4vw, 1.18rem);
    line-height: clamp(1.1rem, 4vw, 2rem);
}

.button {
    font-weight: 800;
    font-size: 12px;
    color: var(--color-whith);
    border-radius: 5px;
    background-color: var(--color-black);
    padding: 23px 0;
    border: none;
    display: flex;
    justify-content: center;
    column-gap: 23px;
    text-transform: uppercase;
    line-height: 20px;
}

.button:hover {
    background-color: var(--color-hover-btn);
}

.one__button {
    width: clamp(204px, 13vw, 252px);
    /*max-width: 252px;*/
    /*width: min(100%, 252px);*/
    height: 100%;
    max-height: 66px;
}

.one__arrows {
    position: absolute;
    top: 80%;
    left: 8%;
    display: flex;
    column-gap: 15px;
}

.arrows {
    /*min-height: 54px;*/
    /*min-width: 54px;*/
    /*max-height: 67px;*/
    /*max-width: 67px;*/
    width: clamp(54px, 8vw, 67px);
    height: clamp(54px, 8vw, 67px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one__arrows-one {
    background-color: var(--color-whith);
}

.one__arrows-two {
    background-color: #F0F2F6;
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .one__logo {
        margin-top: 25px;
    }
}

/*end section one*/
/*start section two*/
.catalog {
    min-height: 521px;
}

.more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subheading {
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: var(--font-bold);
    color: var(--color-black);
}

.more-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    font-size: 14px;
    text-decoration: none;
    color: var(--color-black);
    border-bottom: 2px solid #000;
    padding-bottom: 2px;
    transition: all 0.3s ease;
}

.more-link:hover {
    color: var(--color-dark-gray);
    border-bottom: 2px solid var(--color-dark-gray);
}

.catalog_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 38px;
    /*width: 100%;*/
}

.catalog_product {
    width: min(100%, 318px);
    height: min(100%, 369px);
}

.catalog-img {
    width: 100%;
    object-fit: contain;
    /*height: 100%;*/
}

.catalog-link {
    text-decoration: none;
    font-weight: var(--font-medium);
    font-size: clamp(0.9rem, 5vw, 1.2rem);
    color: var(--color-black);
}

.catalog-pretext {
    font-size: 14px;
    font-weight: var(--font-small);
    color: #3C3C3C;
    padding-top: 2px;
}

.catalog-price {
    font-size: 20px;
}

@media (max-width: 1024px) {
    .catalog_grid {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .catalog_product-none {
        display: none;
    }

    .more__link-none {
        display: none;
    }
}

/*end section two*/

/*start section tree*/
.value {
    position: relative;
    z-index: 2;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    min-height: 631px;
    background: linear-gradient(to right, #0D99F8, #21A0F8, #54B5FF, #0DBBF8, #0DDBF8);
}

.value__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 6%;
    /*padding-top: 6.25rem;*/
}

.value__info-tittle {
    font-weight: var(--font-bold);
    font-size: clamp(1.4rem, 4vw, 3.18rem);
    line-height: clamp(2rem, 5vw, 3.9rem);
    color: var(--color-whith);
}

.value__info-text {
    color: var(--color-whith);
    font-weight: var(--font-small);
    font-size: clamp(0.9rem, 2vw, 1.2rem);
}

.value__info-text span {
    font-weight: 700;
}

.value__info-instructions {
    display: flex;
    column-gap: 60px;
}

.value__info-instructions-one {
    display: flex;
    column-gap: 20px;
}

.value__info-instructions-one span {
    font-weight: 600;
    font-size: clamp(0.9rem, 2vw, 1rem);
    line-height: 22px;
    color: var(--color-whith);
}

.value__info-instructions-one-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-medium);
    font-size: 24px;
    line-height: 2rem;
    color: var(--color-whith);
    width: clamp(62px, 6vw, 77px);
    height: clamp(62px, 6vw, 77px);
    border-radius: 50%;
    border: 1px solid var(--color-whith);
}

.value__info-button {
    width: min(100%, 294px);
    margin-top: 40px;
}

.value__images {
    background-image: url("icons/main/main.svg");
    /*width: 100%;*/
    width: 405px;
    height: 680px;
    position: absolute;
    left: 65%;
    bottom: 1%;
}

.value__images-iphone {
    /*width: min(100%, 258px);*/
    height: 100%;
}

@media (max-width: 768px) {
    .value__images {
        display: none;
    }

    .value {
        justify-content: center;
    }

    .value__info {
        align-items: center;
        padding: 0;
    }

    .value__info-instructions {
        flex-direction: column;
        row-gap: 20px;
    }

    .value__info-text {
        text-align: center;
    }
}

/*end section thee*/
/*start section four*/
.four {
    min-height: 895px;
    background: linear-gradient(to right, #BCBFC7, #D5D7DC);
    margin-top: -220px;
    position: relative;
}

.four__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: min(100%, 1750px);
    height: min(100%, 730px);
}

.store {
    position: relative;
    z-index: 1;
    padding-top: 390px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.store__info {
    width: min(100%, 812px);
}

.store__info-tittle {
    font-weight: var(--font-bold);
    font-size: clamp(1.1rem, 5vw, 2.3rem);
    line-height: clamp(1.8rem, 5vw, 3rem);
}

.store__info-text {
    font-weight: var(--font-small);
    font-size: 1rem;
    line-height: clamp(1.2rem, 3vw, 1.9rem);
    color: var(--color-dark-gray);
    padding-top: 20px;

}

.store__delivery {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    /*width: 415px;*/
    /*height: 426px;*/
    background: var(--color-whith);
    border-radius: 5px;
    padding: 40px;
}

.store__delivery-clause {
    display: flex;
    column-gap: 28px;
    width: 100%;
}

.store__delivery-clause-text h3 {
    font-weight: var(--font-bold);
    font-size: 13px;
    line-height: 22px;
}

.store__delivery-clause-text span {
    font-weight: var(--font-small);
    font-size: 14px;
    line-height: 20px;
}


.store__btn {
    background-color: black;
    border-radius: 50%;
    max-width: 85px;
    min-width: 85px;
    max-height: 85px;
    min-height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.store__btn:hover {
    background-color: var(--color-hover-btn);
}

@media (max-width: 1024px) {
    .store__btn {
        display: none;
    }

    .store {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .store__delivery {
        flex-direction: row;
        flex: 0 0 100%;
    }

    .store__info {
        flex: 0 0 100%;
    }

    .store__delivery-clause {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width: 768px) {
    .store__delivery {
        flex-direction: column;
        flex: 0 0 100%;
    }

    .store__delivery-clause {
        flex-direction: row;
        justify-content: center;
    }
}

/*end section four*/
/*start section five*/
.blog {
    max-height: 600px;
}

.blog__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 31px;
    margin-top: 33px;
}

.blog__grid-info {
    width: min(100%, 433px);
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}

.blog__grid-images {
    width: 100%;
}

.blog__grid-tittle {
    font-weight: var(--font-medium);
    color: var(--color-black);
    font-size: clamp(1.1rem, 3vw, 1.4rem);
    line-height: 30px;
}

.blog__grid-span {
    font-weight: var(--font-small);
    font-size: 15px;
    color: var(--color-dark-gray);
    line-height: 25px;
}

.blog__grid-lear {
    display: flex;
    justify-content: space-between;
}

.blog__grid-lear-link {
    text-decoration: none;
    font-weight: 800;
    font-size: 14px;
    line-height: 15px;
    color: var(--color-black);
    border-bottom: 5px solid #49D0FF;
}

.blog__grid-lear-data {
    font-weight: var(--font-small);
    font-size: 11px;
    line-height: 23px;
    color: var(--color-light-gray);
}

.blog__grid-relative {
    position: relative;
    overflow: hidden;
}

.blog__grid-icons-absolute {
    position: absolute;
    left: 30px;
    top: 85px;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .blog__grid-relative {
        display: none;
    }

    .blog__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .blog__grid-none {
        display: none;
    }

    .blog__grid {
        grid-template-columns: 1fr;
    }
}

/*end section five*/
/*start footer*/
.footer {
    background-color: var(--color-black);
    min-height: 371px;
}

.information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*column-gap: 212px;*/
    padding-top: 45px;
    padding-bottom: 50px;
    row-gap: 20px;
}

.information__catalog {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.information__catalog-tittle {
    font-weight: var(--font-bold);
    color: var(--color-whith);
    font-size: 15px;
    line-height: 28px;
}

.information__catalog-link {
    font-weight: var(--font-small);
    font-size: 15px;
    color: #DCDCE0;
    line-height: 28px;
    text-decoration: none;
}

.information__catalog-logo {
    padding-top: 48px;
    width: 99px;
    /*height: 41px;*/
}

.information__catalog-logo-website {
    padding-top: 28px;
}

.information__catalog-link-mobile {
    color: var(--color-whith);
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: none;
}

.information__catalog-messenger {
    display: flex;
    flex-direction: column;
}

.information__catalog-messenger-span {
    font-weight: 800;
    font-size: 12px;
    color: var(--color-whith);
    line-height: 28px;
}

.information__catalog-messenger-icons {
    display: flex;
    column-gap: 10px;
}

.information__catalog-email {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--color-dark-gray);
    padding-bottom: 5px;
}

.information__catalog-email input {
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    background: transparent;
    border: none;
    width: 100%;

}

.information__catalog-email button {
    background-color: var(--color-whith);
    border-radius: 50%;
    max-width: 29px;
    min-width: 29px;
    max-height: 29px;
    min-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.information__catalog-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #707076;
}

.information__catalog-personal {
    padding-top: 51px;
    display: flex;
    flex-direction: column;
}

.information__catalog-personal a {
    font-weight: 600;
    font-size: 11px;
    line-height: 18px;
    color: #707076;
    text-transform: uppercase;
}

/*@media (max-width: 768px) {*/
/*    .information__catalog-wrap{*/
/*        flex-wrap: wrap;*/
/*    }*/
/*}*/




