.footer__mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 28px 0 0 0;*/
}

.footer__mobile-list{
    width:min(100%, 768px);
    padding: 25px 0 21px 0;
}

.footer__mobile-list-info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-light-gray);
}

.footer__mobile-list-info-span,
.footer__mobile-list-info-link {
    font-weight: 900;
    font-size: 13px;
    line-height: 28px;
    color: white;
}
.footer__mobile-list-info-link{
    rotate: 90deg;
}

.footer__mobile-icons{
    display: flex;
    gap: 10px;
    padding: 0 0 20px 0;
}

.footer__mobile-catalog{
    text-align: center;
}

.information__catalog-personal-link{
    border-bottom: 1px solid;
}

@media (min-width: 768px) {
    .footer__mobile{
        display: none;
    }
}