.three-product{
    margin: 94px 0 94px 0;
}

.three__product-breadcrumbs{
    border-top: 1px solid #F4F5F9;
    border-bottom: 1px solid #F4F5F9;
    padding: 16px 0 17px 0;
}

.three__product-breadcrumbs-menu{
    display: flex;
    gap: 50px;
}

.three__product-breadcrumbs-btn{
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-weight: 400;
    color: var(--color-light-gray);
    background: none;
    border: none;
}

.three__product-breadcrumbs-btn:hover{
    font-weight: 700;
    color: var(--color-dark-gray);
    transition: 0.3s;
    border-bottom: 3px solid var(--color-blue);
}

/*three__product-article*/
.three__product-article{
    margin: 45px 0 0 0;
    width: min(100%, 450px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*display: none;*/
}

.three__product-article-list{
    display: flex;
    justify-content: space-between;

}

.three__product-article-span,
.three__product-article-span-two {
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 22px;
    color: var(--color-dark-gray);
}

/*three-product__shipping*/
.three-product__shipping{
    margin: 20px 0 0 0;
    /*display: none;*/
}

.three-product__shipping-title{
    font-weight: 600;
    font-size: 21px;
    color: #121214;
}

.three-product__shipping-text{
    font-weight: 600;
    font-size: 16px;
    color: var(--color-dark-gray);
    padding: 16px 0 60px 0;
}




/*three-product__payment*/




@media (max-width: 768px) {
    .three__product-article-list{
        flex-direction: column;
    }
    .three__product-article-span-two{
        color: var(--color-light-gray);
    }
    .three__product-breadcrumbs-menu{
        gap: 20px;
    }
}

@media (max-width: 360px){
    .three__product-breadcrumbs-menu{
        gap: 15px;
    }
}